.nav {
    background-color: rgb(235, 250, 196);
    width: 500px;
    height: 350px;
    border: 5px solid #5e5f5f;
    padding: 40px;
    margin-left: 20px;
    margin-top: 10px;
    font-size: 20px;
}

#TaskDiv {
    background-color: rgb(240, 243, 231);
    border: 1px solid #2c2d2d;
    margin-top: 10px;
    padding: 5px;
}

#Remove {
    float: right;
    margin-right: 10px;
    margin-top: 3px;

}

